* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: grey;
}


#toggleBtn {
  position: fixed;
  top: 25px;
  left: 10px;
  z-index: 1001;
}

.menu {
  background-color: rgba(0, 0, 0, 0.9);
  width: 260px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.5s ease;
  z-index: 1000;
}

.menu.closed {
  left: -260px;
}

.profile {
  margin-top: 30px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
}

.profile-img img {
  width: 100%;
  height: 100%;
}

.menu ul {
  list-style: none;
  position: relative;
  height: 95%;
}

.menu ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  transition: background-color 0.5s ease;
}

.menu ul li a:hover,
.active {
  background-color: #444141;
}

.logOut {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 90%;
}

.logOut a {
  background-color: #a00;
}

/* ------------------------------ */

.content {
  margin-left: 260px; 
  padding: 20px;
}

.text-col {
  color: #fff;              
  background-color: rgba(22, 21, 28, 0.629);
  padding: 5px 10px;
  border-radius: 10px;
}

/*-----------------------*/
.box {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(25, 14, 76, 0.734);
}

.box:hover {
  background-color: rgba(64, 51, 121, 0.51);
  transition: all 0.5s ease;
}

/*----------------------- Responsive -----------------------*/

@media (max-width: 768px) {
  .menu {
    width: 220px;
    left: -220px;
  }

.menu.closed{
    left: 0;
  }

  .content {
    margin-left: 0;
    padding: 15px;
  }

  table {
    font-size: 12px;
  }
}


@media (max-width: 576px) {
  h1, h2, h4 {
    font-size: 1.2rem;
  }

  .box {
    padding: 15px;
  }

  .profile-img {
    width: 40px;
    height: 40px;
  }

  table {
    font-size: 11px;
  }
}
